div.instructions-table, div.modifications-table {
	text-align: center;
}
table.modifications {
	margin: 0 auto;
}
table.clocks {
	margin: 0 auto;
	border: 2px solid black;
}
table.clocks > tbody > tr > td {
	text-align: center;
	border: none;
	padding: 0;
}
table.table {
	border: 2px solid black;
	width: 100%;
}
table.table td {
	border-color: black;
}
div.footnotes {
	font-size: smaller;
	margin-top: 1em;
	padding-top: .5em;
	position: relative;
}
div.footnotes::before {
	content: '';
	border-top: 1px solid #ccc;
	width: 10em;
	position: absolute;
	left: 0;
	top: 0;
}